<% include partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1>CyCloud</h1>

    <p>Welcome to CyCloud, the best place to store all your files!</p><br><br>

    <a class="btn btn-primary" href="/documents">View Documents</a>
    <a class="btn btn-success" href="/upload">Upload A File</a>
  </div>
</div>

<% include partials/footer %>
